header, footer, ul{
    display: flex;
    background-color: rgb(211, 211, 211);
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    
}
footer{
    align-tracks: flex-end;
    position: relative;
}

div{
    background-color: #fff;
    align-self: center;
}

#menu-mobile{
    display: none;
}

@media (max-width: 800px) {
    header{
        justify-content: center;
        align-content: center;
    }
    #menu-mobile{
        display: flex;
        padding: 1.4rem 1.4rem;
        justify-items: center;
        align-items: center;
        
    }
    nav, #logo{
        display: none;
    }
    footer{
        flex-direction: column;
        padding: 1.4rem 1.4rem;
    }
    
}

img{
    height: 35px;
}

nav{
    padding: 2px;
}

ul {
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rebeccapurple;
}

main{
    display: grid;
    grid-template-areas: 
    'h1'
    'section';
}
h1{
    background-color: pink;
    grid-area: h1;
    align-content: center;
    justify-content: center;
    align-items: center;
}
section{
    grid-area: section;
    display: grid;
    grid-template-areas: 
    'h2'
    'p';
    background-color: blueviolet;
}
